<!DOCTYPE html>
<html>
<head>
    <title>Selecionar a hora</title>
</head>
<body>
    <h1>Selecionar a hora</h1>
    <form method="POST">
        <label>08h</label>
        <input type="radio" name="time" value="08:00:00"> <br>
        <label>09h</label>
        <input type="radio" name="time" value="09:00:00"> <br>
        <label>10h</label>
        <input type="radio" name="time" value="10:00:00"> <br>
        <label>11h</label>
        <input type="radio" name="time" value="11:00:00"> <br>
        <label>13h</label>
        <input type="radio" name="time" value="13:00:00"> <br>
        <label>14h</label>
        <input type="radio" name="time" value="14:00:00"> <br>
        <label>15h</label>
        <input type="radio" name="time" value="15:00:00"> <br>
        <label>16h</label>
        <input type="radio" name="time" value="16:00:00"> <br>
        <label>17h</label>
        <input type="radio" name="time" value="17:00:00"> <br>
        <label>18h</label>
        <input type="radio" name="time" value="18:00:00"> <br>
        <label>19h</label>
        <input type="radio" name="time" value="19:00:00"> <br>
        <input type="submit" value="Selecionar">
    </form>
</body>
</html>