<!DOCTYPE html>
<html>
<head>
    <title>Selecionar Dia</title>
</head>
<body>
    <h1>Selecionar Dia</h1>
    
    <form method="POST">
        <label>Segunda-feira</label>
        <input type="radio" name="day" value="segunda-feira"> <br>
        <label>Terça-feira</label>
        <input type="radio" name="day" value="terca-feira"> <br>
        <label>Quarta-feira</label>
        <input type="radio" name="day" value="quarta-feira"> <br>
        <label>Quinta-feira</label>
        <input type="radio" name="day" value="quinta-feira"> <br>
        <label>Sexta-feira</label>
        <input type="radio" name="day" value="sexta-feira"> <br>
        <label>Sábado</label>
        <input type="radio" name="day" value="sabado"> <br>
        <input type="submit" value="Selecionar">
    </form>
</body>
</html>