<!DOCTYPE html>
<html>
<head>
    <title>Acadetinder</title>
    <style>
        li a:visited {
        color: #1600df;
        }

        .titulo {
            text-align: center;
        }

        .imagem {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>
<body>
    <h1 class="titulo">Acadetinder</h1>
    <ul>
        <li><a href="{{ url_for('api.client_routes.menu') }}">Entrar como cliente</a></li>
        <li><a href="{{ url_for('api.personal_routes.menu') }}">Entrar como personal</a></li>
    </ul>
    <img class="imagem" src="{{ url_for('static', filename='logo.gif') }}">
</body>
</html>