<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>
    <ul>
        <li><a href="{{ url_for('register_personal') }}">Registrar novo personal</a></li>
        <li><a href="{{ url_for('update_personal') }}">Atualizar personal</a></li>
        <li><a href="{{ url_for('delete_personal')  }}">Deletar personal</a></li>
        <li><a href="{{ url_for('appointments_personal')  }}">Horário do personal</a></li>
        <li><a href="{{ url_for('schedule_personal')  }}">Treinos marcados</a></li>
    </ul>
</body>
</html>