<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>
    <ul>
        <li><a href="{{ url_for('api.personal_routes.show_all_personals') }}">Mostrar todos os personais</a></li>
        <li><a href="{{ url_for('api.personal_routes.show_all_gyms') }}">Mostrar todas as academias</a></li>
        <li><a href="{{ url_for('api.personal_routes.show_one_personal') }}">Mostrar um personal</a></li>
        <li><a href="{{ url_for('api.personal_routes.register_personal') }}">Registrar novo personal</a></li>
        <li><a href="{{ url_for('api.personal_routes.update_personal') }}">Atualizar personal</a></li>
        <li><a href="{{ url_for('api.personal_routes.delete_personal')  }}">Deletar personal</a></li>
        <li><a href="{{ url_for('api.personal_routes.appointments_personal')  }}">Treinos marcados</a></li>
        <li><a href="{{ url_for('api.personal_routes.insert_schedule')  }}">Adicionar horário livre</a></li>
        <li><a href="{{ url_for('api.personal_routes.schedule_personal')  }}">Horário do personal</a></li>
        <li><a href="{{ url_for('api.personal_routes.personal_statistics')  }}">Estatísticas do personal</a></li>
        <li><a href="{{ url_for('main_menu')  }}">Sair</a></li>
    </ul>
</body>
</html>