<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <style>
        li a:visited {
        color: #1600df;
        }

        .titulo {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 class="titulo" >Alunos</h1>
    <ul>
        <li><a href="{{ url_for('api.client_routes.show_all_clients') }}">Mostrar clientes</a></li>
        <li><a href="{{ url_for('api.client_routes.show_one_client') }}">Mostrar um cliente</a></li>
        <li><a href="{{ url_for('api.client_routes.register_client')  }}">Registrar novo cliente</a></li>
        <li><a href="{{ url_for('api.client_routes.update_client')  }}">Atualizar cliente</a></li>
        <li><a href="{{ url_for('api.client_routes.delete_client')  }}">Deletar um cliente</a></li>
        <li><a href="{{ url_for('api.client_routes.make_appointment')  }}">Marcar um treino</a></li>
        <li><a href="{{ url_for('api.client_routes.show_appointment')  }}">Mostrar treinos marcados</a></li>
        <li><a href="{{ url_for('api.client_routes.show_client_workout')  }}">Mostrar exercícios</a></li>
        <li><a href="{{ url_for('api.client_routes.get_personals_price_range')  }}">Buscar Personais por Preço</a></li>
        <li><a href="{{ url_for('api.client_routes.get_personals_from_mari')  }}">Buscar Personais de Mari</a></li>
        <li><a href="{{ url_for('main_menu')  }}">Sair</a></li>
    </ul>
</body>
</html>