<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar novo personal!!!!!!</title>
</head>
<body>
    <h1> Registro</h1>

    <form method="POST">
        <label>Nome:</label>
        <input type="text" name="name" required><br>
        <label>Idade:</label>
        <input type="number" name="age" required><br>
        <label>Peso (kg):</label>
        <input type="number" name="weight" required><br>
        <label>Altura:</label>
        <input type="number" name="height" required><br>
        <label>Preço do treino</label>
        <input type="number" name="price" required><br>
        <label>ID da sua academia</label>
        <input type="number" name="gym_id" required><br>
        <label>É de Mari?</label>
        <input type="checkbox" name="from_mari" checked><br>
        <input type="submit" value="Registrar">

    </form>
</body>
</html>