<!DOCTYPE html>
<html>
<head>
    <title>Selecionar Horário</title>
</head>
<body>
    <h1>Selecionar Horário</h1>
    <p>Cliente: {{ client_name }}</p>
    <p>Personal Trainer ID: {{ personal_id }}</p>
    
    <h2>Horários Disponíveis:</h2>
    <form method="POST" action="{{ url_for('select_schedule', client_name=client_name, personal_id=personal_id) }}">
        {% for index, row in schedule.iterrows() %}
            <input type="checkbox" name="schedule_index" value="{{ row['id'] }}" > 
            {{ row['time'] }} - {{ row['day'] }} <br>
        {% endfor %}
        <br>
        <input type="submit" value="Selecionar">
    </form>

    <a href="{{ url_for('menu') }}">Voltar ao Menu Principal</a>
</body>
</html>