<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar</title>
</head>
<body>
    <h1> Registro</h1>

    <form method="POST">
        <label>Novo nome:</label>
        <input type="text" name="name"><br>
        <label>Nova idade:</label>
        <input type="number" name="age"><br>
        <label>Novo peso (kg):</label>
        <input type="number" name="weight"><br>
        <label>Nova altura:</label>
        <input type="number" name="height"><br>
        <label>Novo saldo</label>
        <input type="number" name="balance"><br>
        <label>Virou flamenguista?</label>
        <input type="checkbox" name="is_flamengo" checked><br>
        <label>É de Souza?</label>
        <input type="checkbox" name="from_souza" checked><br>
        <label>Começou a ver One Piece?</label>
        <input type="checkbox" name="watch_one_piece" checked><br>
        <input type="submit" value="Atualizar">

    </form>

</body>
</html>