<!DOCTYPE html>
<html>
<head>
    <title>Selecionar Personal Trainer</title>
</head>
<body>
    <h1>Selecionar Personal Trainer</h1>
    <p>Cliente: {{ client_name }}</p>
    
    <h2>Horários Disponíveis:</h2>
    <form method="POST" action="{{ url_for('select_personal', client_name=client_name, all_personals=all_personals) }}">
        {% for index, row in all_personals.iterrows() %}
            <input type="radio" name="personal_id" value="{{ row['id'] }}"> 
            {{ row['Nome'] }} <br>
        {% endfor %}
        <br>
        <input type="submit" value="Selecionar">
    </form>
    <a href="{{ url_for('menu') }}">Voltar ao Menu Principal</a>
</body>
</html>